{
	"java": {
		"root": "/home/co/IdeaProjects/Zomboid/build/generated/sources/zomboid/",
		"javadoc_url": "https://quarantin.github.io/zomboid-javadoc/41.56/",
		"ignored_packages": [
			"astar",
			"com",
			"de",
			"fmod",
			"javax",
			"N3D",
			"org",
			"se"
		]
	},
	"target": {
		"username": "YOUR_USERNAME",
		"password": "YOUR_PASSWORD",
		"wiki_url": "YOUR_WIKI_URL"
	},
	"source": {
		"wiki_url": "https://pzwiki.net/",
		"namespaces": [
			"Modding:Lua Event"
		]
	}
}
